.app-container {
  display: flex;
  justify-content: center;
}

.map-wrapper {
  width: 80%;
  max-width: 1000px;
  height: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
}
